<%-include('header')%>
    <div class="container-fluid">
        <%-include('navbar')%>
            <!-- <div class="alert alert-success" role="alert" id="successMsg" style="display: none;">USER
                ADDED SUCCESSFULLY
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="successclose"></button>
            </div>
            <div class="alert alert-success" role="alert" id="erroraddinguser" style="display: none;">
                USER ALREADY EXISTS
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="userexistclose"></button>
            </div>
            <div class="alert alert-success" role="alert" id="userdeleted" style="display: none;">
                USER DELETED SUCCESSFULLY
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="userdeleteclose"></button>
            </div>
            <div class="alert alert-success" role="alert" id="useredited" style="display: none;">USER
                EDITED SUCCESSFULLY
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="usereditclose"></button>
            </div> -->
            <section id="appendData">
                <%if(data.length!=0){%>
                    <%for(let i=0;i<data.length;i++){%>
                        <div class="row mx-5 table border w-100" id="<%=data[i]._id%>">
                            <div class="col-2" id="profileImage"><img src="<%=data[i].path%>" id="userProfileImage"
                                    alt="Profile Image" />
                            </div>
                            <div class="col-6" id="details">
                                <div class="row">
                                    <div class="col-4 mt-4">
                                        <h4 id="namelabel">Name : </h4>
                                        <h4 id="emaillabel">Email : </h4>
                                        <h4 id="contactlabel">Contact no : </h4>
                                    </div>
                                    <div class="col-8 mt-4">
                                        <h4 id="Name">
                                            <%=data[i].username%>
                                        </h4>
                                        <h4 id="Email">
                                            <%=data[i].email%>
                                        </h4>
                                        <h4 id="Contact">
                                            <%=data[i].contact%>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none" id="showprofileimage"></div>
                            <div class="col-3 d-flex flex-column justify-content-center" id="buttons">

                                <button class="btn btn-danger m-3 w-100 fs-4" id="delete">Delete</button>
                                <button class="btn btn-primary m-3 w-100 fs-4" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                                    id="edit">Edit</button>
                            </div>
                        </div>
                        <%}%>
                            <%}else{%>
                                <h1 class="table border p-5 text-center">No Data Found</h1>
                                <%}%>

            </section>
    </div>

    <%-include('footer')%>